@model Timashev_PI_Lab.Models.TechCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TechCard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Recipe @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
    </dl>
</div>
<table border="1">
    <tr>
        <td>Наименование сырья </td>
        <td colspan="4">Расход сырья и полуфабрикатов</td>
    </tr>
    <tr>
        <td> </td>
        <td colspan="2">1 порция</td>
        <td colspan="2">100 порций</td>
    </tr>
    <tr>
        <td> </td>
        <td>Брутто, г</td>
        <td>Нетто, г</td>
        <td>Брутто, г</td>
        <td>Нетто, г</td>
    </tr>
    @foreach (ProductRecipe pr in ViewBag.Recipe.ProductRecipes)
    {
        <tr>
            <td>@pr.Recipe.Name</td>
            <td>@pr.Gram</td>
            <td>@pr.Gram</td>
            <td>@(pr.Gram * 100)</td>
            <td>@(pr.Gram * 100)</td>
        </tr>
    }
    <tr>
        <td>Выход </td>
        <td>@ViewBag.SumGram</td>
        <td>@ViewBag.SumGram</td>
        <td>@(ViewBag.SumGram * 100)</td>
        <td>@(ViewBag.SumGram * 100)</td>
    </tr>
</table>
<table border="1">
    <tr>
        @foreach (KeyValuePair<ChemElement, decimal> elem in ViewBag.ElementsGram)
        {
            <td>
                @elem.Key.Name
            </td>
        }
    </tr>
    <tr>
        @foreach (KeyValuePair<ChemElement, decimal> elem in ViewBag.ElementsGram)
        {
            <td>
                @elem.Value
            </td>
        }
    </tr>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
