@model Timashev_PI_Lab.Models.TechCard

@{
    ViewData["Title"] = "Подробно";
}

<h1>Подробно</h1>

<div>
    <h4>Тех. карта</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Рецепт 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
    </dl>
</div>
<table border="1">
    <tr>
        <td>Наименование сырья </td>
        <td colspan="4">Расход сырья и полуфабрикатов</td>
    </tr>
    <tr>
        <td> </td>
        <td colspan="2">1 порция</td>
        <td colspan="2">100 порций</td>
    </tr>
    <tr>
        <td> </td>
        <td>Брутто, г</td>
        <td>Нетто, г</td>
        <td>Брутто, г</td>
        <td>Нетто, г</td>
    </tr>
    @foreach (ProductRecipe pr in ViewBag.Recipe.ProductRecipes)
    {
        <tr>
            <td>@pr.Product.Name</td>
            <td>@pr.Gram</td>
            <td>@pr.Gram</td>
            <td>@(pr.Gram * 100)</td>
            <td>@(pr.Gram * 100)</td>
        </tr>
    }
    <tr>
        <td>Выход </td>
        <td>@ViewBag.SumGram</td>
        <td>@ViewBag.SumGram</td>
        <td>@(ViewBag.SumGram * 100)</td>
        <td>@(ViewBag.SumGram * 100)</td>
    </tr>
</table>
<table border="1">
    <tr>
        @foreach (KeyValuePair<ChemElement, decimal> elem in ViewBag.ElementsGram)
        {
            <td>
                @elem.Key.Name
            </td>
        }
    </tr>
    <tr>
        @foreach (KeyValuePair<ChemElement, decimal> elem in ViewBag.ElementsGram)
        {
            <td>
                @elem.Value
            </td>
        }
    </tr>
</table>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Recipe.HowToCook)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Recipe.HowToCook)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Recipe.Quality)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Recipe.Quality)
    </dd>
</dl>
<h5>Утверждено: ____________________________________________ @Program.Director</h5>
<h5>@Program.Organization</h5>
<div>
    <a asp-action="Index">Назад</a>
</div>
