@model IEnumerable<Timashev_PI_Lab.Models.TechCard>

@{
    ViewData["Title"] = "Тех. карты";
}

<h1>Тех. карты</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> 
                @Html.DisplayNameFor(model => model.Name) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null)  
foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
                @if (item.DeleteMark != null && item.DeleteMark == true)
                {
            <a asp-action="UnmarkDelete" asp-route-id="@item.Id">Удалить пометку</a>
                }
                else
                {
            <a asp-action="MarkDelete" asp-route-id="@item.Id">Пометить на удаление</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
