@model Timashev_PI_Lab.Models.Recipe

@{
    ViewData["Title"] = "Подробно";
}

<h1>Подробно</h1>

<div>
    <h4>Рецепт</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HowToCook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HowToCook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quality)
        </dd>
        <dt class="col-sm-2">
            <p>Продукты</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DropDownList("products", (SelectList)ViewBag.ProductsList)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
